.card-medico-detalle {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    margin-bottom: 2rem;
}

.medico-header {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.avatar-grande {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #e3f2fd;
}

.badges-dias span {
    background-color: #e3f2fd;
    color: #001b48;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-right: 5px;
    font-weight: bold;
}


.panel-reserva {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
}

@media (max-width: 768px) {
    .panel-reserva { grid-template-columns: 1fr; } /* 1 col en celular */
    .medico-header { flex-direction: column; text-align: center; }
}

.columna-calendario, .columna-horarios {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.input-calendario-grande {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    outline: none;
}

.input-calendario-grande:focus {
    border-color: #001b48;
}

.grid-horarios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.pill-hora {
    padding: 10px 20px;
    border: 2px solid #001b48;
    background-color: white;
    color: #001b48;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
}

.pill-hora:hover {
    background-color: #e3f2fd;
}

.pill-hora.seleccionado {
    background-color: #001b48;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 27, 72, 0.3);
}

.btn-flotante-reserva {
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #001b48;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5; 
    pointer-events: none;
    transition: opacity 0.3s;
}

.btn-flotante-reserva.activo {
    opacity: 1;
    pointer-events: all;
}

.msg-feedback { margin-top: 10px; font-weight: bold; font-size: 0.9rem; }
.text-danger { color: #dc3545; }
.text-success { color: #28a745; }
